*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    flex: 1 1 auto;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
}

.title {
    color: #445161;
	font-size: 30px;
}

.header {
    background-color: #445162;
    padding: 50px 0px;
}

.header__row {
    display: flex;
    justify-content: space-between;
}

.header__body {
    color: white;
}

.header__title {
    font-size: 60px;
    margin-bottom: 40px;
}

.header__list li {
    font-size: 20px;
    background: url(img/icons/icon.png) no-repeat;
    padding-left: 35px;
    margin-bottom: 15px;
}
.header__list li:last-child {
    margin: 0;
}


.what {
    padding: 50px 0px;
}

.what__row {
    display: flex;
    flex-direction: row-reverse;
}

.what__body {
    flex: 1 1 auto;
    padding-left: 38px;
}

.what__title {
    margin-bottom: 35px;
}

.what__paragraphs {
    font-size: 16px;
	color: #333;
	line-height: 24px;
}

.what__paragraphs p {
    margin-bottom: 15px;
}


.columns {
    background-color: #f5f5f5;
    padding: 50px 0px 20px 0px;
}

.columns__title {
    text-align: center;
    margin-bottom: 30px;
}

.columns__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px;
}

.columns__column {
    flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 0px 8px;
}

.item__row {
    display: flex;
}

.item__image {
    flex: 0 0 200px;
}

.item__body {
    padding-left: 15px;
    flex: 1 1 auto;
}

.item__title {
    margin-bottom: 15px;
    font-size: 24px;
    color: #445161;
}

.item__text {
    line-height: 24px;
    color: #333333;
	font-size: 16px;
}


.vertical {
    padding: 50px 0px;
}

.container-v {
    max-width: 990px;
    margin: 0px auto;
}

.vertical__title {
    text-align: center;
    margin-bottom: 30px;
}

.vertical__row {
    display: flex;
    margin: 0px -22.5px;
}

.vertical__column {
    padding: 0px 22.5px;
    flex: 0 0 33%;
    display: flex;
}

.vertical__body {
    background-color: #445162;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 1px #445161 solid;
    display: flex;
    flex-direction: column;
}

.vertical__upper-text {
    text-transform: uppercase;
    font-size: 24px;
    padding: 15px 0px;
}

.vertical__middle-text {
    background-color: white;
    color: #445161;
    padding: 12px 0px;
    font-size: 40px;
}

.vertical__bottom-text {
    padding: 20px;
	font-size: 16px;
	line-height: 24px;
    flex: 1 1 auto;
}

.vertical__button {
    border-radius: 5px;
    background-color: white;
    display: block;
    margin: 0px 20px;
    font-size: 18px;
    line-height: 40px;
    color: #445161;
    margin-bottom: 20px;
}

.column-1 {
    align-self: center;
}

.column-3 {
    align-self: flex-end;
}


.footer {
    background-color: rgb(255, 255, 163);
}

.footer__row {
    display: flex;
    justify-content: center;
}

.footer__body {
    line-height: 50px;
}

.footer__text {
    color: #445162;
	font-size: 12px;
	letter-spacing: 0.3px;
}